<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.spiritualdarkness.itu.dao.UserMapper">
    <resultMap id="UserResultMap" type="tech.spiritualdarkness.itu.bean.model.User">
        <id column="uuid" property="uuid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone_code" property="phone_code"/>
        <result column="jwt_code" property="jwt_code"/>
    </resultMap>

    <insert id="add" parameterType="tech.spiritualdarkness.itu.bean.model.User">
        insert into `itu_user` (username, password)
        values (#{username}, #{password})
    </insert>
    <update id="update" parameterType="tech.spiritualdarkness.itu.bean.model.User">
        update `itu_user`
        set password=#{password}
        where uuid = #{uuid}
    </update>

    <update id="login" parameterType="tech.spiritualdarkness.itu.bean.model.User">
        update `itu_user`
        set jwt_code = #{jwt_code}
        where uuid = #{uuid}
    </update>

    <select id="getById" resultMap="UserResultMap">
        select *
        from `itu_user`
        where uuid = #{id}
    </select>

    <select id="getByUsername" resultMap="UserResultMap">
        select *
        from `itu_user`
        where username = #{username}
    </select>
</mapper>